{% extends 'layout.html' %}

{% block maincontent %}
	<script>
		function updateBrewery()
		{
			if ($('select[name=BREWERYID]').val() == 'new_brewery')
			{
				$('#new_brewery').show();
			}
			else
			{
				$('#new_brewery').hide();
			}
		}
		$().ready(function () {
			updateBrewery();
			$('#search_untappd').select2({
				ajax: {
					url: '/_ajax/beersearch.php',
					delay: 300,
				}
			});

			$('#search_untappd').on('select2:select', function (e) {
				var beer = e.params.data.beer;
				console.log(beer);

				$('input[name=name]').val(beer.beer_name);
				$('input[name=abv]').val(beer.beer_abv);
				$('input[name=style]').val(beer.beer_style);
				$('input[name=untappd_id]').val(beer.bid);

				if (beer.BREWERYID > 0)
				{
					$('select[name=BREWERYID]').val(beer.BREWERYID);
					updateBrewery();
				}
				else
				{
					$('select[name=BREWERYID]').val('new_brewery');
					$('input[name=new_brewery]').val(beer.brewery);
					$('input[name=brewery_untappd_id]').val(beer.brewery_id);
					updateBrewery();
				}
			});
		});
	</script>
	{% if BEERID == "new" %}
	    <h1 class="mt-5">Add Beer</h1>
	{% else %}
		<h1 class="mt-5">Edit {{ beer.name }}</h1>
	{% endif %}

	<form method="POST">
		<input type="hidden" name="action" value="update_beer">
		{% if BEERID == "new" %}
			<input type="hidden" name="untappd_id" value="0">
			<input type="hidden" name="brewery_untappd_id" value="0">
			<div class="form-group">
				<label for="name" required>Search Untappd</label>
				<select class="form-control" id="search_untappd" name="search_untappd"></select>
			</div>
		{% endif %}

		<div class="form-group">
			<label for="name" required>Beer Name</label>
			<input type="text" class="form-control" name="name" value="{{ beer.name }}">
		</div>

		<div class="form-group">
			<label for="name">Brewery</label>
			<select class="form-control" name="BREWERYID" onchange="updateBrewery()">
				{% if BEERID == "new" %}
					<option value="new_brewery">New Brewery</option>
				{% endif %}
				{% for cur in breweries %}
					<option value="{{ cur.BREWERYID }}" {% if cur.BREWERYID == beer.BREWERYID %}selected{% endif %}>{{ cur.name }}</option>
				{% endfor %}
			</select>
		</div>

		<div id="new_brewery" class="form-group">
			<label for="new_brewery">New Brewery Name</label>
			<input type="text" class="form-control" name="new_brewery">
		</div>

		<div class="form-group">
			<label for="name">ABV</label>
			<input type="number" step="any" class="form-control" name="abv" value="{{ beer.abv }}">
		</div>

		<div class="form-group">
			<label for="name">Style</label>
			<input type="text" class="form-control" name="style" value="{{ beer.style }}">
		</div>

		{# one beer can have multiple UPCs, so this isn't supported during edit #}
		{% if BEERID == "new" %}
		<div class="form-group">
			<label for="name">UPC</label>
			<input type="text" class="form-control" name="upc" value="{{ upc }}" autocomplete="upc">
		</div>
		{% endif %}

		<div class="form-group">
			<label for="name">Count Available</label>
			<input type="number" class="form-control" name="count_available" value="{{ beer.count_available }}">
		</div>

		{% if BEERID == "new" %}
			<button class="btn btn-primary">Add</button>
		{% else %}
			<button class="btn btn-primary">Update</button>
		{% endif %}
	</form>
{% endblock %}
