{% extends 'layout.html' %}

{% block maincontent %}
    <table class="table table-striped table-sm">
    	<thead>
    		<tr>
	    		<th scope="col">Name</th>
	    		<th scope="col">Brewery</th>
	    		<th scope="col">ABV</th>
	    		<th scope="col">Style</th>
	    		<th scope="col">#</th>
	    		{% if showbuttons %}
	    		<th scope="col"></th>
	    		{% endif %}
	    	</tr>
    	</thead>
    	<tbody>
    		{% for cur in beers %}
    		<tr>
    			<td scope="row">{{ cur.name }}</td>
    			<td scope="row">{{ cur.getObject('BREWERYID').name }}</td>
    			<td scope="row">{{ cur.abv }}%</td>
    			<td scope="row">{{ cur.style }}</td>
    			<td scope="row">{{ cur.count_available }}</td>
    			{% if showbuttons %}
    			<td scope="row">
    				<a class="btn btn-primary" href="/beer_edit.php?BEERID={{ cur.BEERID }}">edit</a>
    				<form style="display: inline" onsubmit="confirm('Are you sure you want to delete {{ cur.name }}?')" method="POST">
    					<input type="hidden" name="action" value="delete_beer">
    					<input type="hidden" name="BEERID" value="{{ cur.BEERID }}">
    					<button class="btn btn-danger">del</button>
    				</form>
    			</td>
    			{% endif %}
    		</tr>
    		{% else %}
    		<tr>
    			<td scope="row">No beer?  Isn't that sad</td>
    		</tr>
    		{% endfor %}
	    </tbody>
    </table>
    {% if showbuttons %}
    <a href="/beer_edit.php?BEERID=new" class="btn btn-primary" style="float: right">Add Beer</a>
    {% endif %}
{% endblock %}
