{% extends 'layout.html' %}

{% block maincontent %}
    <h1 class="mt-5">Beer Inventory</h1>
    <table class="table">
    	<thead>
    		<tr>
	    		<th scope="col">Name</th>
	    		<th scope="col">Brewery</th>
	    		<th scope="col">ABV</th>
	    		<th scope="col">Style</th>
	    		<th scope="col">#</th>
	    		<th scope="col"></th>
	    	</tr>
    	</thead>
    	<tbody>
    		{% for cur in beers %}
    		<tr>
    			<td scope="row">{{ cur.name }}</td>
    			<td scope="row">{{ cur.getObject('BREWERYID').name }}</td>
    			<td scope="row">{{ cur.abv }}%</td>
    			<td scope="row">{{ cur.style }}</td>
    			<td scope="row">{{ cur.count_available }}</td>
    			<td scope="row">
    				<a class="btn btn-primary" href="/beer_edit.php?BEERID={{ cur.BEERID }}">edit</a>
    				<form style="display: inline" onsubmit="confirm('Are you sure you want to delete {{ cur.name }}?')" method="POST">
    					<input type="hidden" name="action" value="delete_beer">
    					<input type="hidden" name="BEERID" value="{{ cur.BEERID }}">
    					<button class="btn btn-danger">del</button>
    				</form>
    			</td>
    		</tr>
    		{% endfor %}
	    </tbody>
    </table>
    <a href="/beer_edit.php?BEERID=new" class="btn btn-primary" style="float: right">Add Beer</a>

{% endblock %}